// Variables
$strong-primary: #8442B9; // hsl(273, 47%, 49%)
$strong-secondary: #6DE080;

$soft-primary: #cca4fd; // 	hsl(267, 96%, 82%) 

$default-background: #473D4F; // hsl(273, 13%, 27%)
$dark-background: #362E3B; // hsl(277, 12%, 21%)
$dark-heading: #2B2530; // hsl(273, 13%, 17%)
$darker-background: #302935; // hsl(275, 13%, 18%)

$faint-selection: #3F3447; // hsl(275, 15%, 24%)
$light-selection: #5F516A; // hsl(274, 13%, 37%)

$text-color: #C4C4C4;
$text-color-dark: #918B95;
$text-color-darker: #424242;
$text-color-light: #EEEEEE;

$form-background: #D2C7DB; // hsl(273, 22%, 82%)
$form-background-focus: #ECDDF9; // hsl(272, 70%, 92%)
$form-accent: #BA92D9; // hsl(274, 48%, 71%)
$form-background-dark: #4f435a;

$light-text: #eee;

$recording-button: #DE0000;

.full-page
{
    background: $default-background;
    color: $text-color;
}

.basico-navbar
{
    background: $dark-background;
    color: $text-color;
}

.basico-title
{
    background: $dark-background;
    color: $text-color;
}

.basico-tree
{
    background: $dark-background;
}

.basico-tree .basico-tree-item-wrapper:hover,
.basico-tree .basico-tree-item-wrapper:hover:not(.basico-no-hover)
{
    background: $light-selection;
}

.basico-tree .basico-tree-item-wrapper.basico-tree-item-active
{
    background: $strong-primary;
}

.basico-list
{
    background: $dark-background;
    color: $light-text;
}

.basico-list-item:hover:not(.basico-no-hover)
{
    background: $light-selection;
}

.basico-list-item.basico-list-item-active
{
    background: $strong-primary;
}

.basico-list-item:not(:last-child)
{
    border-bottom: 1px solid $text-color-darker;
}

.basico-card
{
    background: $dark-background;
    color: $text-color;
    border-radius: 0px;
}

.basico-title
{
    background: $dark-heading;
}

.basico-input
{
    background: $form-background;
    color: $text-color-darker;
    border-bottom: 1px solid $form-accent;
    border-radius: 3px;
}

.basico-input:focus
{
    background: $form-background-focus;
    border-bottom: 3px solid $form-accent;
}

#control-tabs, #control-tabs .basico-tabs-item
{
    background: $darker-background;
    color: $text-color-dark;
}

#control-tabs .basico-tabs-item:hover
{
    background: $faint-selection;
    color: $text-color;
}

#control-tabs .basico-tabs-item.basico-tabs-selected
{
    background: $light-selection;
    color: $text-color;
}

#properties .basico-title,
#events .basico-title
{
    background: $dark-heading;
    border-radius: 0px;
}

#properties .basico-title,
#events .basico-title
{
    text-align: left;
    padding-left: 10px;
    box-sizing: border-box;
}

/* Tags: maybe move to UI code? */
#events .basico-title
{
    display: inline-flex;
    align-items: center;
}

#events .basico-title span
{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: auto;
}

#events .basico-title .basico-tag
{
    margin-right: 8px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 8px;
}

#properties .basico-tree,
#events .basico-tree
{
    color: $text-color-light;
}

.basico-tag.property-primitive  {
    background: $form-background-dark;
    color: $text-color-light;
    font-weight: 100;
}

#properties .basico-tree .basico-tag,
#events .basico-tree .basico-tag
{
    min-height: 12px;
}

.title-darker
{
    border-top: 2px solid #5f516a;
    background: #2b2530;
}

#entity-list .basico-title,
#var-list .basico-title,
#connection-list .basico-title,
#recent-list .basico-title,
#setting-list .basico-title
{
    border-radius: 0px;
}

#connection-buttons .basico-button {
    background: $strong-secondary;
}

#connection-buttons .basico-button.connection-button-disabled
{
    background: #C4C4C4;
}

#connection-buttons .basico-button.connection-button-disabled:hover
{
    background: #dddddd;
}

#connection-buttons .basico-button:not(.connection-button-disabled) {
    animation: pulse 2s infinite;
}

#button-record:not(.basico-disabled) {
    color: $recording-button;
}

#button-record.recording {
    animation: recording-pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 rgba($strong-secondary, .4);
    }
    70% {
        box-shadow: 0 0 0 8px rgba($strong-secondary, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba($strong-secondary, 0);
    }
}

@keyframes recording-pulse {
    0% {
      box-shadow: 0 0 0 0 rgba($recording-button, .4);
    }
    60% {
        box-shadow: 0 0 0 8px rgba($recording-button, .0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba($recording-button, 0);
    }
}

*:focus {
    outline: none;
}

*:focus-visible {
    border: 1px solid $strong-secondary;
}