@import "colorStyles.scss";

#filter-ticker-wrapper
{
    position: absolute;
    z-index: 10;
    width: 190px;
    margin-top: 35px;
}

.filter-ticker
{
    background: $dark-background;
    display: flex;
    border-left: 5px solid orange;
    transition: ease-in-out 0.2s;
    opacity: 0.5;
    cursor: pointer;
}

.filter-ticker:hover,
.filter-ticker.active
{
    opacity: 1;
}

.filter-ticker-data
{
    text-align: left;
    overflow: hidden;
    padding: 5px;
    flex: auto;
}

.filter-ticker-name
{
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.filter-ticker-type
{
    font-size: 10px;
    color: #6de080;
    font-weight: bold;
    text-transform: uppercase;
}

.filter-ticker-buttons
{
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.filter-ticker-buttons > .basico-button
{
    width: 32px;
    height: 38px;
    border-radius: 0;
    padding: 2px 2px;
    background: transparent;
    color: $text-color;
    font-size: 16px;
}

.filter-ticker-buttons > .basico-button:hover
{
    color: white;
    background: $faint-selection;
}