#all-layer-selection {
    margin: 0;
}

#all-layer-selection .basico-list-item {
    padding: 6px 18px;
}

.layer-list .basico-list-item .basico-text-oneline {
    flex: 1;
}

.layer-list .basico-list-item {
    align-items: center;
    display: flex;
    padding: 6px 12px;
}

.layer-list .basico-button-group.basico-compact .basico-button {
    color: white;
    background-color: #424242;
}

.layer-list .basico-button-group.basico-compact .basico-button:hover {
    color: black;
    background-color: #cca4fd;
}

.layer-list .basico-button-group.basico-compact .basico-button.layer-active {
    color: black;
    background-color: #cca4fd;
}