html,
body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.header {
    height: 35px;
}

/* Content */
.content {
    height: 100%;
}

.content-wrapper {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
}

.page-wrapper,
.vertical-wrapper {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}

.content-wrapper .content {
    flex: 1 1 auto;
    overflow: hidden;
}

.vertical-navBar {
    flex: 0 0 50px;
}

.vertical-navBar .basico-tabs-item {
    height: 50px;
}

.vertical-navBar i.fas {
    font-size: 1.5em;
    vertical-align: middle;
}

.sidebar {
    flex: 0 0 320px;
}

/* Recent files */
#recent-list .basico-list-item{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* Property tree view */
.property-name {
    width: 50%;
}

.property-comment {
    padding: 6px;
    border: 1px solid #5f516a;
    border-radius: 2px;
}

.property-group {
    display: flex;
    float: right;
    width: 50%;
}

.property-group .property-primitive {
    margin: 0px 2px;
    flex: 1 1 0;
    width: 0;
    overflow: hidden;
}

#central-content {
    flex: 1 1 auto;
    position: relative;
}

#viewport {
    height: 100%;
}

#render-debug {
    display: none;
    position: absolute;
    right: 0px;
    font-size: 12px;
    padding: 5px;
    z-index: 1;
    text-align: right;
    white-space: pre-line;
    line-height: 60%;
    user-select: none;
}

#render-debug.enabled {
    display: block;
}

/* Detail pane */
#properties-container {
    flex: 1 1 auto;
}

#events-container {
    flex: 0 0 250px;
}

/* Entities pane */
#entities-container {
    flex: 1 1 auto;
}

#layers-container {
    flex: 0 0 250px;
}

#search-container {
    flex: 0 0 auto;
}

#default-console > div {
    overflow-x: hidden;
}

#render-canvas {
    position: absolute;
    touch-action: none;
}

#timeline-wrapper {
    height: 50px;
}

#step-controls {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -1px);
}

#record-control {
    position: absolute;
    left: calc(50% + 150px);
    transform: translate(-50%, -1px);
}

#entity-list .basico-form-field,
#var-list .basico-form-field,
#setting-list .basico-form-field {
    display: block;
    margin-bottom: 6px;
    margin-top: 3px;
}

/* Connection buttons */
#connection-buttons {
    position: absolute;
    right: 150px;
    top: 10px;
}

#connection-buttons .basico-button
{
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
    -webkit-app-region: no-drag;
}

#connection-buttons .connection-button-complex i
{
    padding-right: 5px;
}

.connection-card-buttons .basico-button {
    margin-right: 3px;
    margin-left: 3px;
}

/* Misc */
.uppercase {
    text-transform: uppercase;
}

.basico-button {
    user-select: none;
}

.simple-message {
    font-size: 12px;
    padding: 8px;
}

.basico-input {
    z-index: unset;
}