#pinned-texture {
    display: none;
    margin: 0;
    border: 1px solid #473d4f;
    border-bottom: none;
    border-right: none;
    z-index: 10;
    width: 300px;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0;
    background: #473D4F;
}

#pinned-texture .resizer {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #c4c4c4;
    color: #362e3b;
    cursor: nwse-resize;
    font-size: 15px;
    text-align: center;
    line-height: 20px;
    border-radius: 2px;
    z-index: 50;
}

#pinned-texture .resizer:hover
{
    background: white;
}

#close-pinned-texture {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 0px;
    cursor: pointer;
    background: #c4c4c4;
    color: #362e3b;
    font-size: 13px;
    text-align: center;
    line-height: 20px;
    border-radius: 2px;
    z-index: 50;
}

#close-pinned-texture:hover
{
    background: white;
}

#pinned-texture.active {
    display: flex;
    flex-direction: column;
}

#pinned-texture-canvas {
    width: 100%;
    height: 100%;
    margin: 0px;
}

#pinned-texture-img {
    object-fit: contain;
}


#pinned-image-wrapper {
    overflow: hidden;
    margin: auto;
    max-height: -webkit-fill-available;
}

#pinned-texture-title {
    font-size: 12px;
}