.search-form {
    position: relative;
}

.search-form i {
    position: absolute;
    top: 8px;
    left: 8px;
    color: $text-color-darker;
    font-size: 16px;
}

.search-form input {
    padding-left: 30px;
}

#console-tabs .search-form i {
    position: absolute;
    top: 9px;
    left: 6px;
    font-size: 12px;
}

#console-tabs .search-form input {
    padding-left: 23px;
}