#setting-list .basico-form-field {
    display: block;
    margin-bottom: 6px;
}

#setting-list .basico-container {
    display: flex;
    flex-direction: column;
}

#settings-container,
#settings {
    flex: auto;
}

#settings .basico-dropdown {
    width: 36px;
    text-align: right;
}

#settings-container input {
    text-align: right;
}

#settings-container .basico-list,
#settings-container .basico-title {
    z-index: unset;
}

#settings-container .basico-list-item {
    display: flex;
    align-items: center;
}

#settings-container .basico-list-item .basico-text-oneline {
    flex: 1;
}

#settings-container input[type=color] {
    padding: 0;
    background: none;
    cursor: pointer;
}

#settings-container input[type=color]:focus {
    padding: 0;
    background: none;
    cursor: pointer;
}

#settings-container input[type=color]::-webkit-color-swatch-wrapper {
    padding: 0; 
}
#settings-container input[type=color]::-webkit-color-swatch {
    border: none;
}

#settings-container .setting-value-wrapper {
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
}

#settings-container .setting-reset-button {
    margin-left: 5px;
    padding: 3px 5px;
}

#setting-search-wrapper {
    flex-shrink: 0;
}

#settings-container .basico-slider {
    width: 100%;
}

#viewport-settings {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 1;
    padding: 0px 10px;
    width: 100%;
    box-sizing: border-box;
    height: 32px;
}

#viewport-settings .viewport-right
{
    margin-left: auto;
}

#viewport-settings .basico-button
{
    font-weight: bold;
    color: #3a3541;
    opacity: 0.7;
}

#viewport-settings .basico-button:hover
{
    opacity: 1;
}