@keyframes popout {
  from {
    transform: scale(0);
  }
  80% {
    transform: scale(1.08);
  }
  to {
    transform: scale(1);
  }
}
.popout {
  animation: popout 0.3s ease-out;
}

.splitter {
  flex: 0 0 4px;
  margin-left: -4px;
  cursor: ew-resize;
  z-index: 1000;
  user-select: none;
  transition: 0.2s;
  transition-delay: 0.2s;
}

.splitter.vertical {
  margin-left: 0;
  margin-bottom: -4px;
  cursor: ns-resize;
}

.splitter.right {
  margin-left: 0;
  margin-right: -4px;
}

.splitter:hover, .splitter.selected {
  background: #dabdfd;
}

/* Elevation of elements */
:root {
  --primary-color-rgb: 187, 134, 252;
  --primary-color: rgb(var(--primary-color-rgb));
  --primary-color-hover: rgba(var(--primary-color-rgb), 0.6);
  --primary-color-variant: #3700B3;
  --secondary-color: #03DAC6;
  --secondary-color-variant: #03DAC6;
  --background-color: #1c191f;
  --surface-color: #2f2d31;
  --error-color: #CF6679;
  --on-primary-color: #000000;
  --on-secondary-color: #000000;
  --on-background-color: #FFFFFF;
  --on-surface-color: #FFFFFF;
  --on-error-color: #000000;
  --text-high-emphasis-opacity: 0.87;
  --text-medium-emphasis-opacity: 0.6;
  --text-disabled-emphasis-opacity: 0.38;
}

.full-page {
  height: 100vh;
  background-color: #151417;
  color: white;
}

/* Elevation of elements */
:root {
  --primary-color-rgb: 187, 134, 252;
  --primary-color: rgb(var(--primary-color-rgb));
  --primary-color-hover: rgba(var(--primary-color-rgb), 0.6);
  --primary-color-variant: #3700B3;
  --secondary-color: #03DAC6;
  --secondary-color-variant: #03DAC6;
  --background-color: #1c191f;
  --surface-color: #2f2d31;
  --error-color: #CF6679;
  --on-primary-color: #000000;
  --on-secondary-color: #000000;
  --on-background-color: #FFFFFF;
  --on-surface-color: #FFFFFF;
  --on-error-color: #000000;
  --text-high-emphasis-opacity: 0.87;
  --text-medium-emphasis-opacity: 0.6;
  --text-disabled-emphasis-opacity: 0.38;
}

.basico-navbar {
  display: block;
  max-width: calc(100% - 40px);
  height: 36px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
  background-color: #2d2b2d;
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  /*box-shadow:
  0px 5px 6px -3px rgba(0, 0, 0, 0.2),
  0px 9px 12px 1px rgba(0, 0, 0, 0.14),
  0px 3px 16px 2px $ambient-color;

  transition: box-shadow 0.25s cubic-bezier(.4, 0, .2, 1);*/
  z-index: 9;
}

.basico-navbar.basico-navbar-compact {
  max-width: calc(100% - 20px);
  height: 25px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

.basico-navbar .basico-navbar-title {
  display: inline-block;
  height: 36px;
  line-height: 36px;
  font-size: 20px;
  text-decoration: none;
  padding-left: 0;
  padding-right: 0;
  color: #d9d9d9;
}

.basico-navbar.basico-navbar-compact .basico-navbar-title {
  height: 25px;
  line-height: 25px;
  font-size: 14px;
}

.basico-container {
  display: block;
  padding: 5px;
  overflow: auto;
}

.basico-container-compact {
  padding: 0px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}

/* Elevation of elements */
:root {
  --primary-color-rgb: 187, 134, 252;
  --primary-color: rgb(var(--primary-color-rgb));
  --primary-color-hover: rgba(var(--primary-color-rgb), 0.6);
  --primary-color-variant: #3700B3;
  --secondary-color: #03DAC6;
  --secondary-color-variant: #03DAC6;
  --background-color: #1c191f;
  --surface-color: #2f2d31;
  --error-color: #CF6679;
  --on-primary-color: #000000;
  --on-secondary-color: #000000;
  --on-background-color: #FFFFFF;
  --on-surface-color: #FFFFFF;
  --on-error-color: #000000;
  --text-high-emphasis-opacity: 0.87;
  --text-medium-emphasis-opacity: 0.6;
  --text-disabled-emphasis-opacity: 0.38;
}

.basico-footer {
  display: block;
  background-color: #141314;
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  /*box-shadow:
  0px 0px 0px 0px rgba(0, 0, 0, 0.2),
  0px 0px 0px 0px rgba(0, 0, 0, 0.14),
  0px 0px 0px 0px $ambient-color;

  transition: box-shadow 0.25s cubic-bezier(.4, 0, .2, 1);*/
  z-index: 0;
}

.basico-text-oneline {
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* Elevation of elements */
:root {
  --primary-color-rgb: 187, 134, 252;
  --primary-color: rgb(var(--primary-color-rgb));
  --primary-color-hover: rgba(var(--primary-color-rgb), 0.6);
  --primary-color-variant: #3700B3;
  --secondary-color: #03DAC6;
  --secondary-color-variant: #03DAC6;
  --background-color: #1c191f;
  --surface-color: #2f2d31;
  --error-color: #CF6679;
  --on-primary-color: #000000;
  --on-secondary-color: #000000;
  --on-background-color: #FFFFFF;
  --on-surface-color: #FFFFFF;
  --on-error-color: #000000;
  --text-high-emphasis-opacity: 0.87;
  --text-medium-emphasis-opacity: 0.6;
  --text-disabled-emphasis-opacity: 0.38;
}

.basico-button {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  padding: 3px 10px;
  border-radius: 2px;
  border: 0;
  color: black;
  background-color: #cca4fd;
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  /*box-shadow:
  0px 3px 1px -2px rgba(0, 0, 0, 0.2),
  0px 2px 2px 0px rgba(0, 0, 0, 0.14),
  0px 1px 5px 0px $ambient-color;

  transition: box-shadow 0.25s cubic-bezier(.4, 0, .2, 1);*/
  z-index: 2;
}

.basico-button:hover {
  background-color: #dabdfd;
}

.basico-button.basico-small {
  padding: 3px 8px;
  font-size: 12px;
}

.basico-button.basico-disabled {
  cursor: not-allowed;
  background-color: #1f1f1f;
  color: #666666;
}

.basico-button-group {
  display: inline-block;
}

.basico-spinner {
  border: 8px solid var(--on-surface-color);
  border-top: 8px solid var(--primary-color);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Elevation of elements */
:root {
  --primary-color-rgb: 187, 134, 252;
  --primary-color: rgb(var(--primary-color-rgb));
  --primary-color-hover: rgba(var(--primary-color-rgb), 0.6);
  --primary-color-variant: #3700B3;
  --secondary-color: #03DAC6;
  --secondary-color-variant: #03DAC6;
  --background-color: #1c191f;
  --surface-color: #2f2d31;
  --error-color: #CF6679;
  --on-primary-color: #000000;
  --on-secondary-color: #000000;
  --on-background-color: #FFFFFF;
  --on-surface-color: #FFFFFF;
  --on-error-color: #000000;
  --text-high-emphasis-opacity: 0.87;
  --text-medium-emphasis-opacity: 0.6;
  --text-disabled-emphasis-opacity: 0.38;
}

.basico-tag {
  display: inline-block;
  font-size: 9px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 2px;
  padding: 2px 6px;
  color: black;
  background-color: #caa1fd;
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  /*box-shadow:
  0px 2px 1px -1px rgba(0, 0, 0, 0.2),
  0px 1px 1px 0px rgba(0, 0, 0, 0.14),
  0px 1px 3px 0px $ambient-color;

  transition: box-shadow 0.25s cubic-bezier(.4, 0, .2, 1);*/
  z-index: 1;
}

.basico-tag.basico-big {
  font-size: 11px;
}

.basico-card-header .basico-tag {
  float: right;
}

.basico-list-item .basico-tag {
  float: right;
}

.basico-console-line .basico-tag {
  float: right;
}

/* Elevation of elements */
:root {
  --primary-color-rgb: 187, 134, 252;
  --primary-color: rgb(var(--primary-color-rgb));
  --primary-color-hover: rgba(var(--primary-color-rgb), 0.6);
  --primary-color-variant: #3700B3;
  --secondary-color: #03DAC6;
  --secondary-color-variant: #03DAC6;
  --background-color: #1c191f;
  --surface-color: #2f2d31;
  --error-color: #CF6679;
  --on-primary-color: #000000;
  --on-secondary-color: #000000;
  --on-background-color: #FFFFFF;
  --on-surface-color: #FFFFFF;
  --on-error-color: #000000;
  --text-high-emphasis-opacity: 0.87;
  --text-medium-emphasis-opacity: 0.6;
  --text-disabled-emphasis-opacity: 0.38;
}

.basico-toggle {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 18px;
}

.basico-toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.basico-toggle .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #aaa;
  transition: all 0.3s ease;
}

.basico-toggle .slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  transition: all 0.15s ease;
}

.basico-toggle input:checked + .slider:before {
  background-color: #913bfa;
}

.basico-toggle input:checked + .slider {
  background-color: #caa1fd;
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  /*box-shadow:
  0px 2px 1px -1px rgba(0, 0, 0, 0.2),
  0px 1px 1px 0px rgba(0, 0, 0, 0.14),
  0px 1px 3px 0px $ambient-color;

  transition: box-shadow 0.25s cubic-bezier(.4, 0, .2, 1);*/
  z-index: 1;
}

.basico-toggle input:focus + .slider {
  box-shadow: 0 0 1px #bb86fc;
}

.basico-toggle input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

.basico-toggle .slider.round {
  border-radius: 18px;
}

.basico-toggle .slider.round:before {
  border-radius: 50%;
}

.basico-list-item .basico-toggle {
  float: right;
}

/* Elevation of elements */
:root {
  --primary-color-rgb: 187, 134, 252;
  --primary-color: rgb(var(--primary-color-rgb));
  --primary-color-hover: rgba(var(--primary-color-rgb), 0.6);
  --primary-color-variant: #3700B3;
  --secondary-color: #03DAC6;
  --secondary-color-variant: #03DAC6;
  --background-color: #1c191f;
  --surface-color: #2f2d31;
  --error-color: #CF6679;
  --on-primary-color: #000000;
  --on-secondary-color: #000000;
  --on-background-color: #FFFFFF;
  --on-surface-color: #FFFFFF;
  --on-error-color: #000000;
  --text-high-emphasis-opacity: 0.87;
  --text-medium-emphasis-opacity: 0.6;
  --text-disabled-emphasis-opacity: 0.38;
}

.basico-card {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  font-size: 16px;
  color: #d9d9d9;
  background-color: #252325;
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  /*box-shadow:
  0px 3px 3px -2px rgba(0, 0, 0, 0.2),
  0px 3px 4px 0px rgba(0, 0, 0, 0.14),
  0px 1px 8px 0px $ambient-color;

  transition: box-shadow 0.25s cubic-bezier(.4, 0, .2, 1);*/
  z-index: 3;
  border-radius: 3px;
}

.basico-card-header {
  font-weight: bold;
}

.basico-card-element,
.basico-card-interactive {
  font-size: 12px;
  padding: 12px;
}

.basico-card-footer,
.basico-card-header {
  padding: 12px;
}

.basico-card-interactive:hover {
  background-color: #323032;
  cursor: pointer;
}

.basico-card-element,
.basico-card-footer,
.basico-card-header,
.basico-card-interactive {
  display: block;
}

.basico-card-element:first-child,
.basico-card-footer:first-child,
.basico-card-header:first-child,
.basico-card-interactive:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.basico-card-element:last-child,
.basico-card-footer:last-child,
.basico-card-header:last-child,
.basico-card-interactive:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.basico-card-divider {
  border-top: 1px solid #999999;
}

/* Elevation of elements */
:root {
  --primary-color-rgb: 187, 134, 252;
  --primary-color: rgb(var(--primary-color-rgb));
  --primary-color-hover: rgba(var(--primary-color-rgb), 0.6);
  --primary-color-variant: #3700B3;
  --secondary-color: #03DAC6;
  --secondary-color-variant: #03DAC6;
  --background-color: #1c191f;
  --surface-color: #2f2d31;
  --error-color: #CF6679;
  --on-primary-color: #000000;
  --on-secondary-color: #000000;
  --on-background-color: #FFFFFF;
  --on-surface-color: #FFFFFF;
  --on-error-color: #000000;
  --text-high-emphasis-opacity: 0.87;
  --text-medium-emphasis-opacity: 0.6;
  --text-disabled-emphasis-opacity: 0.38;
}

.basico-list {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  font-size: 16px;
  color: #FFFFFF;
  background-color: #2c292c;
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  /*box-shadow:
  0px 5px 5px -3px rgba(0, 0, 0, 0.2),
  0px 8px 10px 1px rgba(0, 0, 0, 0.14),
  0px 3px 14px 2px $ambient-color;

  transition: box-shadow 0.25s cubic-bezier(.4, 0, .2, 1);*/
  z-index: 8;
}

.basico-list-item {
  text-align: left;
  font-size: 12px;
  padding: 12px;
}

.basico-list-compact .basico-list-item {
  text-align: left;
  font-size: 12px;
  padding: 5px 12px;
}

.basico-list-item.basico-list-item-active {
  background-color: #605b60;
}

.basico-list-item:hover:not(.basico-no-hover) {
  background-color: #393639;
  cursor: pointer;
}

.basico-list-item:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.basico-list-item:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.basico-list-item:not(:last-child) {
  border-bottom: 1px solid #999999;
}

.basico-tabs {
  display: flex;
  position: relative;
  width: 100%;
  height: 30px;
  font-size: 14px;
  text-align: left;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  color: #d9d9d9;
  background-color: #222122;
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  /*box-shadow:
  0px 2px 1px -1px rgba(0, 0, 0, 0.2),
  0px 1px 1px 0px rgba(0, 0, 0, 0.14),
  0px 1px 3px 0px $ambient-color;

  transition: box-shadow 0.25s cubic-bezier(.4, 0, .2, 1);*/
  z-index: 1;
}

.basico-tabs.basico-vertical-tabs {
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 50;
  background-color: #2d2b2d;
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  /*box-shadow:
  0px 5px 6px -3px rgba(0, 0, 0, 0.2),
  0px 9px 12px 1px rgba(0, 0, 0, 0.14),
  0px 3px 16px 2px $ambient-color;

  transition: box-shadow 0.25s cubic-bezier(.4, 0, .2, 1);*/
  z-index: 9;
}

.basico-tabs::-webkit-scrollbar {
  height: 5px;
}

.basico-tabs-item {
  height: 30px;
  line-height: 30px;
  padding-left: 6px;
  padding-right: 6px;
  cursor: pointer;
  transition: all 0.3s;
  color: #999999;
  background-color: #252325;
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 3;
}

.basico-tabs-item.basico-no-hover {
  cursor: inherit;
}

.basico-tabs-item:hover:not(.basico-no-hover) {
  color: #d9d9d9;
  background-color: #2f2d2f;
}

.basico-tabs-selected {
  color: #d9d9d9;
  background-color: #575257;
}

.basico-vertical-tabs .basico-tabs-item {
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #2f2d2f;
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 11;
}

.basico-vertical-tabs .basico-tabs-item:hover {
  color: #d9d9d9;
  background-color: #3a373a;
}

.basico-vertical-tabs .basico-tabs-selected {
  color: #d9d9d9;
  background-color: #615c61;
}

.basico-vertical-tabs .basico-tabs-selected.basico-border-left {
  border-left: 2px solid #FFFFFF;
}

.basico-vertical-tabs .basico-tabs-selected.basico-border-right {
  border-right: 2px solid #FFFFFF;
}

.basico-tabs-item.basico-tabs-divider {
  margin-top: 4px;
  margin-bottom: 4px;
  height: 22px;
  padding: 0;
  border-left: 1px solid #999999;
}

.basico-tabs-group-right {
  position: absolute;
  right: 0px;
  display: flex;
}

/* Elevation of elements */
:root {
  --primary-color-rgb: 187, 134, 252;
  --primary-color: rgb(var(--primary-color-rgb));
  --primary-color-hover: rgba(var(--primary-color-rgb), 0.6);
  --primary-color-variant: #3700B3;
  --secondary-color: #03DAC6;
  --secondary-color-variant: #03DAC6;
  --background-color: #1c191f;
  --surface-color: #2f2d31;
  --error-color: #CF6679;
  --on-primary-color: #000000;
  --on-secondary-color: #000000;
  --on-background-color: #FFFFFF;
  --on-surface-color: #FFFFFF;
  --on-error-color: #000000;
  --text-high-emphasis-opacity: 0.87;
  --text-medium-emphasis-opacity: 0.6;
  --text-disabled-emphasis-opacity: 0.38;
}

.basico-title {
  display: block;
  width: 100%;
  font-size: 14px;
  padding: 4px 0 4px 0;
  color: #d9d9d9;
  background-color: #3a373a;
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  /*box-shadow:
  0px 9px 12px -6px rgba(0, 0, 0, 0.2),
  0px 19px 29px 2px rgba(0, 0, 0, 0.14),
  0px 7px 36px 6px $ambient-color;

  transition: box-shadow 0.25s cubic-bezier(.4, 0, .2, 1);*/
  z-index: 19;
  border-radius: 3px;
}

.basico-title.basico-title-compact {
  border-radius: 0px;
}

/* Elevation of elements */
:root {
  --primary-color-rgb: 187, 134, 252;
  --primary-color: rgb(var(--primary-color-rgb));
  --primary-color-hover: rgba(var(--primary-color-rgb), 0.6);
  --primary-color-variant: #3700B3;
  --secondary-color: #03DAC6;
  --secondary-color-variant: #03DAC6;
  --background-color: #1c191f;
  --surface-color: #2f2d31;
  --error-color: #CF6679;
  --on-primary-color: #000000;
  --on-secondary-color: #000000;
  --on-background-color: #FFFFFF;
  --on-surface-color: #FFFFFF;
  --on-error-color: #000000;
  --text-high-emphasis-opacity: 0.87;
  --text-medium-emphasis-opacity: 0.6;
  --text-disabled-emphasis-opacity: 0.38;
}

.basico-tree {
  display: block;
  list-style: none;
  padding: 5px;
  margin-bottom: 10px;
  text-align: left;
  font-size: 12px;
  color: #FFFFFF;
  background-color: #292729;
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  /*box-shadow:
  0px 3px 5px -1px rgba(0, 0, 0, 0.2),
  0px 6px 10px 0px rgba(0, 0, 0, 0.14),
  0px 1px 18px 0px $ambient-color;

  transition: box-shadow 0.25s cubic-bezier(.4, 0, .2, 1);*/
  z-index: 6;
}

.basico-tree ul {
  list-style: none;
  padding-left: 20px;
}

.basico-tree > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.basico-tree .basico-tree-item-wrapper {
  display: block;
  cursor: pointer;
}

.basico-tree .basico-tree-item-wrapper:hover {
  background-color: #393639;
}

.basico-tree .basico-tree-closed .basico-tree-item-toggle {
  transform: rotate(-90deg);
}

.basico-tree .basico-tree-closed ul {
  display: none;
}

.basico-tree .basico-tree-leaf .basico-tree-item-wrapper {
  padding-left: 15px;
}

.basico-tree .basico-tree-leaf .basico-tree-item-toggle {
  display: none;
}

.basico-tree .basico-tree-item-toggle {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  position: relative;
}

.basico-tree .basico-tree-item-toggle:before {
  position: absolute;
  top: 8px;
  left: 6px;
  display: block;
  content: " ";
  border: 4px solid transparent;
  border-top: 4px solid white;
}

.basico-tree .basico-tree-item-icon {
  display: inline-block;
}

.basico-tree .basico-tree-item-content {
  display: inline-block;
  padding-bottom: 4px;
  padding-top: 4px;
}

.basico-tree .basico-tree-leaf .basico-tree-item-content {
  width: 100%;
}

/* Elevation of elements */
:root {
  --primary-color-rgb: 187, 134, 252;
  --primary-color: rgb(var(--primary-color-rgb));
  --primary-color-hover: rgba(var(--primary-color-rgb), 0.6);
  --primary-color-variant: #3700B3;
  --secondary-color: #03DAC6;
  --secondary-color-variant: #03DAC6;
  --background-color: #1c191f;
  --surface-color: #2f2d31;
  --error-color: #CF6679;
  --on-primary-color: #000000;
  --on-secondary-color: #000000;
  --on-background-color: #FFFFFF;
  --on-surface-color: #FFFFFF;
  --on-error-color: #000000;
  --text-high-emphasis-opacity: 0.87;
  --text-medium-emphasis-opacity: 0.6;
  --text-disabled-emphasis-opacity: 0.38;
}

.basico-console-block {
  border-bottom: 1px solid #999999;
  padding: 2px 10px;
}

.basico-console-block.basico-error {
  background-color: #290d12;
  color: #CF6679;
  margin-top: -1px;
  border-bottom: 1px solid #501923;
  border-top: 1px solid #501923;
}

.basico-console-line {
  font-size: 12px;
  text-align: left;
  padding-top: 4px;
  padding-bottom: 4px;
}

.basico-console-icon {
  padding: 0px 10px;
  width: 1em;
  text-align: center;
  font-size: 10px;
}

.basico-console-link {
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
  color: #bb86fc;
}

.basico-console-link:hover {
  color: text-highlight-low(#bb86fc);
}

/* Elevation of elements */
:root {
  --primary-color-rgb: 187, 134, 252;
  --primary-color: rgb(var(--primary-color-rgb));
  --primary-color-hover: rgba(var(--primary-color-rgb), 0.6);
  --primary-color-variant: #3700B3;
  --secondary-color: #03DAC6;
  --secondary-color-variant: #03DAC6;
  --background-color: #1c191f;
  --surface-color: #2f2d31;
  --error-color: #CF6679;
  --on-primary-color: #000000;
  --on-secondary-color: #000000;
  --on-background-color: #FFFFFF;
  --on-surface-color: #FFFFFF;
  --on-error-color: #000000;
  --text-high-emphasis-opacity: 0.87;
  --text-medium-emphasis-opacity: 0.6;
  --text-disabled-emphasis-opacity: 0.38;
}

.basico-form {
  display: block;
  width: 100%;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 12px;
  text-align: left;
}

.basico-form-title {
  display: block;
  width: 100%;
  font-size: 16px;
  margin-bottom: 10px;
  color: #FFFFFF;
}

.basico-form-field {
  display: block;
  margin-bottom: 10px;
}

.basico-form-field-label {
  display: block;
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 4px;
}

.basico-input {
  display: inline-block;
  width: 100%;
  height: 32px;
  line-height: 32px;
  font-size: 12px;
  font-weight: 400;
  color: #546778;
  padding: 0 10px 0 10px;
  border: 0;
  border-bottom: 1px solid #bb86fc;
  transition: border 0.2s;
  outline: 0;
  vertical-align: top;
  box-sizing: border-box;
  color: #FFFFFF;
  background-color: #363336;
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  /*box-shadow:
  0px 8px 10px -5px rgba(0, 0, 0, 0.2),
  0px 16px 24px 2px rgba(0, 0, 0, 0.14),
  0px 6px 30px 5px $ambient-color;

  transition: box-shadow 0.25s cubic-bezier(.4, 0, .2, 1);*/
  z-index: 16;
}

.basico-input:focus {
  background-color: #434043;
  border-bottom: 2px solid #bb86fc;
}

.basico-tabs-item .basico-form-field {
  padding-top: 4px;
  padding-bottom: 4px;
  height: 22px;
  margin: 0;
}

.basico-tabs-item .basico-input {
  height: 22px;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: 1.1em;
  text-align: center;
  color: #FFF;
}

html,
body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.header {
  height: 35px;
}

/* Content */
.content {
  height: 100%;
}

.content-wrapper {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
}

.page-wrapper,
.vertical-wrapper {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  font-family: Roboto, sans-serif;
}

.content-wrapper .content {
  flex: 1 1 auto;
  overflow: hidden;
}

.vertical-navBar {
  flex: 0 0 50px;
}

.vertical-navBar .basico-tabs-item {
  height: 50px;
}

.vertical-navBar i.fas {
  font-size: 1.5em;
  vertical-align: middle;
}

.sidebar {
  flex: 0 0 320px;
}

/* Property tree view */
.property-name {
  width: 50%;
}

.property-group {
  display: flex;
  float: right;
  width: 50%;
}

.property-group .property-primitive {
  margin: 0px 2px;
  flex: 1 1 0;
  width: 0;
  overflow: hidden;
}

#viewport {
  flex: 1 1 auto;
}

#console {
  flex: 0 0 250px;
  display: flex;
  flex-direction: column;
}

#console-tabs {
  flex: 0 0 30px;
}

#default-console {
  overflow: auto;
}

#default-console > div {
  overflow-x: hidden;
}

#render-canvas {
  position: absolute;
  touch-action: none;
}

#timeline-wrapper {
  height: 50px;
}

#step-controls {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -10%);
}

#title-bar-wrapper {
  min-height: 48px;
  height: 48px;
}

#title-bar #drag-region {
  width: 100%;
  height: 100%;
  -webkit-app-region: drag;
}

#title-bar {
  height: 48px;
}

#title-bar i {
  font-size: 23px;
}

#title-bar .basico-tabs-item {
  height: 48px;
  line-height: 48px;
  padding: 0px 10px;
  font-size: 23px;
}

#titlebar {
  color: #FFF;
}

#window-controls {
  display: grid;
  grid-template-columns: repeat(3, 46px);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

#window-controls .button {
  grid-row: 1/span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#min-button {
  grid-column: 1;
}

#max-button, #restore-button {
  grid-column: 2;
}

#close-button {
  grid-column: 3;
}

@media (-webkit-device-pixel-ratio: 1.5), (device-pixel-ratio: 1.5), (-webkit-device-pixel-ratio: 2), (device-pixel-ratio: 2), (-webkit-device-pixel-ratio: 3), (device-pixel-ratio: 3) {
  #window-controls .icon {
    width: 10px;
    height: 10px;
  }
}
#window-controls {
  -webkit-app-region: no-drag;
}

#window-controls .button {
  user-select: none;
}

#window-controls .button:hover {
  background: rgba(255, 255, 255, 0.1);
}

#window-controls .button:active {
  background: rgba(255, 255, 255, 0.2);
}

#close-button:hover {
  background: #E81123 !important;
}

#close-button:active {
  background: #F1707A !important;
}

#close-button:active .icon {
  filter: invert(1);
}

#restore-button {
  display: none !important;
}

#title-bar #drag-region {
  display: grid;
  grid-template-columns: auto 138px;
  margin-top: 1px;
}

#window-title {
  grid-column: 1;
  display: flex;
  align-items: center;
  margin-left: 8px;
  overflow: hidden;
  font-family: "Segoe UI", sans-serif;
  font-size: 12px;
}

#window-title span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.5;
  width: 100%;
  text-align: center;
}

.maximized #title-bar #drag-region {
  margin: 0;
}

.maximized #window-title {
  margin-left: 12px;
}

.maximized #restore-button {
  display: flex !important;
}

.maximized #max-button {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
