@import "../ui/css/ui.scss";
@import "layout.scss";
@import "titleBar.scss";
@import "playback.scss";
@import "colorStyles.scss";
@import "welcome.scss";
@import "console.scss";
@import "search.scss";
@import "modal.scss";
@import "layerList.scss";
@import "entityTree.scss";
@import "filters.scss";
@import "filterTicker.scss";
@import "settings.scss";
@import "contextMenu.scss";
@import "eventPopup.scss";


/*#ai-questions-list div {
    font-size: 12px;
    padding: 10px 5px;
    cursor: pointer;
}*/

/* AI stuff*/
#recent-list .basico-list-item{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#aiEntityButton {
    margin-bottom: 10px;
}