@import "colorStyles.scss";

#sceneTooltip
{
    position: absolute;
    z-index: 1000;

    user-select: none;
    pointer-events: none;
    font-size: 15px;
    background-color: $dark-background;
    color: white;

    border-radius: 2px;
    text-align: left;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.38);
    padding: 8px 8px;
    margin: 0;
}

#sceneTooltip.disabled
{
    display: none;
}