@import "colorStyles.scss";

#sceneTooltip
{
    position: absolute;
    z-index: 1000;

    user-select: none;
    pointer-events: none;
    font-size: 15px;
    background-color: $dark-background;
    color: white;

    border-radius: 2px;
    text-align: left;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.38);
    padding: 8px 8px;
    margin: 0;
}

#sceneTooltip.disabled
{
    display: none;
}

#shapeHighlightOrigin,
#shapeHighlightTarget
{
    position: absolute;
    z-index: 90;

    background-color: yellow;
    border-radius: 100%;
    height: 14px;
    width: 14px;
    margin: -7px -7px;
}

#shapeHighlightLine
{
    position: absolute;
    z-index: 900;

    transform-origin: left;
    background-color: yellow;
    width: 100%;
    height: 2px;
}

#shapeHighlightOrigin.disabled,
#shapeHighlightTarget.disabled,
#shapeHighlightLine.disabled
{
    display: none;
}