@import "colorStyles.scss";

#welcome
{
    display: none;
    background: #5f516a;
    height: 100%;
}

.welcome-active #welcome
{
    display: flex;
    flex: auto;
    align-items: center;
}

.welcome-active #viewport,
.welcome-active #console,
.welcome-active #detail-pane,
.welcome-active #timeline-wrapper
{
    display: none;
}

#welcome-box
{
    color: white;
    /* background: #6b5e76; */
    text-align: left;
    padding: 20px;
    margin: auto;
}

#welcome-box h1
{
    margin: 0px;
    font-weight: 100;
    font-size: 40px;
}

#welcome-box h2
{
    margin-top: 40px;
    font-size: 24px;
    font-weight: 100;
}

#welcome-box p
{
    font-size: 16px;
    font-weight: 100;
    overflow: hidden;
    text-overflow: ellipsis;
}

#welcome-box b
{
    color: #6de080;
}

#welcome-box .icon
{
    margin-right: 10px;
    width: 50px;
}

#welcome-box .icon > button,
#welcome-box .icon > i
{
    display: table;
    margin: 0 auto;
}

#welcome-icon-record .basico-button
{
    color: $recording-button;
}

#welcome-icon-connect .basico-button {
    background: $strong-secondary;
}

#welcome-icon-connect .basico-button.connection-button-disabled
{
    background: #C4C4C4;
}

#welcome-icon-record .basico-button {
    background: #cca4fd;
}

#welcome .icon .basico-button,
#welcome .icon .basico-button:hover
{
    pointer-events: none;
    cursor: initial;
}

#welcome .row
{
    display: flex;
}

@media screen and (max-width: 800px)
{
    #welcome .row {
        flex-direction: column;
    }
    #welcome h1 {
        display: none;
    }
}

#welcome .column
{
    flex: 50%;
    padding-right: 30px;
    max-width: 400px;
}

#welcome ul
{
    list-style: none;
    padding-inline-start: 0px;
}

#welcome ul li.icon-list
{
    display: flex;
    align-items: center;
}

#recent-files-welcome li b
{
    padding-right: 10px;
}

#recent-files-welcome li b
{
    cursor: pointer;
    text-decoration: underline;
}