.splitter {
    flex: 0 0 4px;
    margin-left: -4px;
    cursor: col-resize;
    z-index: 1000;
    user-select: none;
    transition: 0.2s;
    transition-delay: 0.2s;
}

.splitter:hover {
    background: #dabdfd;
}