@import "../variables.scss";

.basico-console-block {
    border-bottom: 1px solid highlight-medium($on-surface-color);
    padding: 2px 10px;
}

.basico-console-block.basico-error {
    background-color: darken($error-color, 50%);
    color: $error-color;
    margin-top: -1px;

    border-bottom: 1px solid highlight-medium($error-color);
    border-top: 1px solid highlight-medium($error-color);
}

.basico-console-line {
    font-size: 12px;
    text-align: left;
    padding-top: 4px;
    padding-bottom: 4px;
}

.basico-console-icon {
    padding: 0px 10px;
    width: 1em;
    text-align: center;
    font-size: 10px;
}

.basico-console-link {
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;

    color: $primary-color;
}

.basico-console-link:hover {
    color: text-highlight-low($primary-color);
}