@import "../variables.scss";

.basico-title {
    display: block;
    width: 100%;
    font-size: 14px;
    padding: 4px 0 4px 0;

    @include text-highlight-high($on-surface-color);
    @include surface-elevation($title-elevation);

    border-radius: 3px;
}

.basico-title.basico-title-compact {
    border-radius: 0px;
}