@import "../variables.scss";

.basico-tree {
    display: block;
    list-style: none;
    padding: 5px;
    margin-bottom: 10px;
    text-align: left;
    font-size: 12px;

    color: $on-surface-color;
    @include surface-elevation($tree-elevation);
}

.basico-tree ul {
    list-style: none;
    padding-left: 20px;
}

.basico-tree > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.basico-tree .basico-tree-item-wrapper {
    display: block;
    cursor: pointer;
}

.basico-tree .basico-tree-item-wrapper:hover {
    @include surface-hovered($list-elevation);
}

.basico-tree .basico-tree-item-wrapper:hover:not(.basico-no-hover) {
    @include surface-hovered($list-elevation);
    cursor: pointer;
}

.basico-tree .basico-tree-item-wrapper.basico-tree-item-active {
    @include surface-active($list-elevation);
}

.basico-tree .basico-tree-closed .basico-tree-item-toggle {
    transform: rotate(-90deg);
}

.basico-tree .basico-tree-closed ul {
    display: none;
}

.basico-tree .basico-tree-leaf .basico-tree-item-wrapper {
    padding-left: 15px;
}

.basico-tree .basico-tree-leaf .basico-tree-item-toggle {
    display: none;
}

.basico-tree .basico-tree-item-toggle {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    position: relative;
}

.basico-tree .basico-tree-item-toggle:before {
    position: absolute;
    top: 8px;
    left: 6px;
    display: block;
    content: ' ';
    border: 4px solid transparent;
    border-top: 4px solid white;
}

.basico-tree .basico-tree-item-icon {
    display: inline-block;
}

.basico-tree .basico-tree-item-content {
    display: inline-block;
    padding-bottom: 4px;
    padding-top: 4px;
}

.basico-tree .basico-tree-leaf .basico-tree-item-content {
    width: 100%;
}