@import "../variables.scss";

.basico-star {
    float: right;
    margin-right: 4px;
    cursor: pointer;
    opacity: 0.2;
    margin-top: -4px;
    margin-bottom: -4px;
    padding: 4px;
}

.basico-star:hover {
    opacity: 0.6;
}

.basico-star.active {
    opacity: 1;
    color: $primary-color;
}

.basico-card-header .basico-star {
    float: right;
}

.basico-list-item .basico-star {
    float: right;
}

.basico-console-line .basico-star {
    float: right;
}