@keyframes popout {
  from {
    transform: scale(0);
  }
  80% {
    transform: scale(1.08);
  }
  to {
    transform: scale(1);
  }
}
.popout {
  animation: popout 0.3s ease-out;
}

.splitter {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}

.splitter.vertical {
  flex-direction: column;
}

.split-panel {
  position: relative;
  flex-grow: 1;
  overflow: hidden;
}

.divider {
  position: relative;
  /*flex-shrink: 0;
  flex-grow: 0;*/
  border: 1px solid #f8f8f8;
  background-color: #f8f8f8;
  cursor: col-resize;
  z-index: 1;
}

.splitter.horizontal > .divider {
  width: 4px;
}

.splitter.vertical > .divider {
  height: 4px;
  cursor: row-resize;
}

.divider::before {
  box-sizing: border-box;
  content: "";
  z-index: 1;
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  top: 50%;
  height: 24px;
  margin-top: -12px;
  background-color: #bebebe;
}

.splitter.vertical > .divider::before {
  height: 100%;
  width: 24px;
  top: 0;
  left: 50%;
  margin-left: -12px;
  margin-top: 0;
}

/* Elevation of elements */
:root {
  --primary-color-rgb: 187, 134, 252;
  --primary-color: rgb(var(--primary-color-rgb));
  --primary-color-hover: rgba(var(--primary-color-rgb), 0.6);
  --primary-color-variant: #3700B3;
  --secondary-color: #03DAC6;
  --secondary-color-variant: #03DAC6;
  --background-color: #1c191f;
  --surface-color: #2f2d31;
  --error-color: #CF6679;
  --on-primary-color: #000000;
  --on-secondary-color: #000000;
  --on-background-color: #FFFFFF;
  --on-surface-color: #FFFFFF;
  --on-error-color: #000000;
  --text-high-emphasis-opacity: 0.87;
  --text-medium-emphasis-opacity: 0.6;
  --text-disabled-emphasis-opacity: 0.38;
}

.full-page {
  height: 100vh;
  background-color: #151417;
  color: white;
}

/* Elevation of elements */
:root {
  --primary-color-rgb: 187, 134, 252;
  --primary-color: rgb(var(--primary-color-rgb));
  --primary-color-hover: rgba(var(--primary-color-rgb), 0.6);
  --primary-color-variant: #3700B3;
  --secondary-color: #03DAC6;
  --secondary-color-variant: #03DAC6;
  --background-color: #1c191f;
  --surface-color: #2f2d31;
  --error-color: #CF6679;
  --on-primary-color: #000000;
  --on-secondary-color: #000000;
  --on-background-color: #FFFFFF;
  --on-surface-color: #FFFFFF;
  --on-error-color: #000000;
  --text-high-emphasis-opacity: 0.87;
  --text-medium-emphasis-opacity: 0.6;
  --text-disabled-emphasis-opacity: 0.38;
}

.basico-navbar {
  display: block;
  max-width: calc(100% - 2 * 20px);
  height: 36px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
  background-color: #2d2b2d;
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.2), 0px 9px 12px 1px rgba(0, 0, 0, 0.14), 0px 3px 16px 2px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 9;
}

.basico-navbar .basico-navbar-title {
  display: inline-block;
  height: 36px;
  line-height: 36px;
  font-size: 20px;
  text-decoration: none;
  padding-left: 0;
  padding-right: 0;
  color: #d9d9d9;
}

.basico-container {
  display: block;
  padding: 5px;
  overflow: auto;
}

.basico-container-compact {
  padding: 0px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}

/* Elevation of elements */
:root {
  --primary-color-rgb: 187, 134, 252;
  --primary-color: rgb(var(--primary-color-rgb));
  --primary-color-hover: rgba(var(--primary-color-rgb), 0.6);
  --primary-color-variant: #3700B3;
  --secondary-color: #03DAC6;
  --secondary-color-variant: #03DAC6;
  --background-color: #1c191f;
  --surface-color: #2f2d31;
  --error-color: #CF6679;
  --on-primary-color: #000000;
  --on-secondary-color: #000000;
  --on-background-color: #FFFFFF;
  --on-surface-color: #FFFFFF;
  --on-error-color: #000000;
  --text-high-emphasis-opacity: 0.87;
  --text-medium-emphasis-opacity: 0.6;
  --text-disabled-emphasis-opacity: 0.38;
}

.basico-footer {
  display: block;
  background-color: #141314;
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 0;
}

.basico-text-oneline {
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* Elevation of elements */
:root {
  --primary-color-rgb: 187, 134, 252;
  --primary-color: rgb(var(--primary-color-rgb));
  --primary-color-hover: rgba(var(--primary-color-rgb), 0.6);
  --primary-color-variant: #3700B3;
  --secondary-color: #03DAC6;
  --secondary-color-variant: #03DAC6;
  --background-color: #1c191f;
  --surface-color: #2f2d31;
  --error-color: #CF6679;
  --on-primary-color: #000000;
  --on-secondary-color: #000000;
  --on-background-color: #FFFFFF;
  --on-surface-color: #FFFFFF;
  --on-error-color: #000000;
  --text-high-emphasis-opacity: 0.87;
  --text-medium-emphasis-opacity: 0.6;
  --text-disabled-emphasis-opacity: 0.38;
}

.basico-button {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 2px;
  border: 0;
  color: black;
  background-color: #cca4fd;
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;
}

.basico-button:hover {
  background-color: #dabdfd;
}

.basico-button.basico-small {
  padding: 3px 8px;
  font-size: 12px;
}

.basico-button.basico-disabled {
  cursor: not-allowed;
  background-color: #1f1f1f;
  color: #666666;
}

.basico-button-group {
  display: inline-block;
}

.basico-spinner {
  border: 8px solid var(--on-surface-color);
  border-top: 8px solid var(--primary-color);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Elevation of elements */
:root {
  --primary-color-rgb: 187, 134, 252;
  --primary-color: rgb(var(--primary-color-rgb));
  --primary-color-hover: rgba(var(--primary-color-rgb), 0.6);
  --primary-color-variant: #3700B3;
  --secondary-color: #03DAC6;
  --secondary-color-variant: #03DAC6;
  --background-color: #1c191f;
  --surface-color: #2f2d31;
  --error-color: #CF6679;
  --on-primary-color: #000000;
  --on-secondary-color: #000000;
  --on-background-color: #FFFFFF;
  --on-surface-color: #FFFFFF;
  --on-error-color: #000000;
  --text-high-emphasis-opacity: 0.87;
  --text-medium-emphasis-opacity: 0.6;
  --text-disabled-emphasis-opacity: 0.38;
}

.basico-tag {
  display: inline-block;
  font-size: 9px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 2px;
  padding: 2px 6px;
  color: black;
  background-color: #caa1fd;
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}

.basico-card-header .basico-tag {
  float: right;
}

.basico-list-item .basico-tag {
  float: right;
}

/* Elevation of elements */
:root {
  --primary-color-rgb: 187, 134, 252;
  --primary-color: rgb(var(--primary-color-rgb));
  --primary-color-hover: rgba(var(--primary-color-rgb), 0.6);
  --primary-color-variant: #3700B3;
  --secondary-color: #03DAC6;
  --secondary-color-variant: #03DAC6;
  --background-color: #1c191f;
  --surface-color: #2f2d31;
  --error-color: #CF6679;
  --on-primary-color: #000000;
  --on-secondary-color: #000000;
  --on-background-color: #FFFFFF;
  --on-surface-color: #FFFFFF;
  --on-error-color: #000000;
  --text-high-emphasis-opacity: 0.87;
  --text-medium-emphasis-opacity: 0.6;
  --text-disabled-emphasis-opacity: 0.38;
}

.basico-card {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  font-size: 16px;
  color: #d9d9d9;
  background-color: #252325;
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 3;
  border-radius: 3px;
}

.basico-card-header {
  font-weight: bold;
}

.basico-card-element,
.basico-card-interactive {
  font-size: 12px;
  padding: 12px;
}

.basico-card-footer,
.basico-card-header {
  padding: 12px;
}

.basico-card-interactive:hover {
  background-color: #323032;
  cursor: pointer;
}

.basico-card-element,
.basico-card-footer,
.basico-card-header,
.basico-card-interactive {
  display: block;
}

.basico-card-element:first-child,
.basico-card-footer:first-child,
.basico-card-header:first-child,
.basico-card-interactive:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.basico-card-element:last-child,
.basico-card-footer:last-child,
.basico-card-header:last-child,
.basico-card-interactive:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.basico-card-divider {
  border-top: 1px solid #999999;
}

/* Elevation of elements */
:root {
  --primary-color-rgb: 187, 134, 252;
  --primary-color: rgb(var(--primary-color-rgb));
  --primary-color-hover: rgba(var(--primary-color-rgb), 0.6);
  --primary-color-variant: #3700B3;
  --secondary-color: #03DAC6;
  --secondary-color-variant: #03DAC6;
  --background-color: #1c191f;
  --surface-color: #2f2d31;
  --error-color: #CF6679;
  --on-primary-color: #000000;
  --on-secondary-color: #000000;
  --on-background-color: #FFFFFF;
  --on-surface-color: #FFFFFF;
  --on-error-color: #000000;
  --text-high-emphasis-opacity: 0.87;
  --text-medium-emphasis-opacity: 0.6;
  --text-disabled-emphasis-opacity: 0.38;
}

.basico-list {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  font-size: 16px;
  color: #FFFFFF;
  background-color: #2c292c;
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 8;
}

.basico-list-item {
  text-align: left;
  font-size: 12px;
  padding: 12px;
}

.basico-list-compact .basico-list-item {
  text-align: left;
  font-size: 12px;
  padding: 5px 12px;
}

.basico-list-item.basico-list-item-active {
  background-color: #605b60;
}

.basico-list-item:hover {
  background-color: #393639;
  cursor: pointer;
}

.basico-list-item:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.basico-list-item:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.basico-list-item:not(:last-child) {
  border-bottom: 1px solid #999999;
}

.basico-tabs {
  display: flex;
  position: relative;
  width: 100%;
  height: 30px;
  font-size: 14px;
  margin-bottom: 20px;
  text-align: left;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  color: #d9d9d9;
  background-color: #222122;
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}

.basico-tabs.basico-vertical-tabs {
  flex-direction: column;
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 50;
  background-color: #2d2b2d;
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.2), 0px 9px 12px 1px rgba(0, 0, 0, 0.14), 0px 3px 16px 2px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 9;
}

.basico-tabs::-webkit-scrollbar {
  height: 5px;
}

.basico-tabs-item {
  height: 30px;
  line-height: 30px;
  padding-left: 6px;
  padding-right: 6px;
  cursor: pointer;
  transition: all 0.3s;
  color: #999999;
  background-color: #252325;
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 3;
}

.basico-tabs-item:hover {
  color: #d9d9d9;
  background-color: #2f2d2f;
}

.basico-tabs-selected {
  color: #d9d9d9;
  background-color: #575257;
}

.basico-vertical-tabs .basico-tabs-item {
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #2f2d2f;
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 11;
}

.basico-vertical-tabs .basico-tabs-item:hover {
  color: #d9d9d9;
  background-color: #3a373a;
}

.basico-vertical-tabs .basico-tabs-selected {
  color: #d9d9d9;
  background-color: #615c61;
}

/* Elevation of elements */
:root {
  --primary-color-rgb: 187, 134, 252;
  --primary-color: rgb(var(--primary-color-rgb));
  --primary-color-hover: rgba(var(--primary-color-rgb), 0.6);
  --primary-color-variant: #3700B3;
  --secondary-color: #03DAC6;
  --secondary-color-variant: #03DAC6;
  --background-color: #1c191f;
  --surface-color: #2f2d31;
  --error-color: #CF6679;
  --on-primary-color: #000000;
  --on-secondary-color: #000000;
  --on-background-color: #FFFFFF;
  --on-surface-color: #FFFFFF;
  --on-error-color: #000000;
  --text-high-emphasis-opacity: 0.87;
  --text-medium-emphasis-opacity: 0.6;
  --text-disabled-emphasis-opacity: 0.38;
}

.basico-title {
  display: block;
  width: 100%;
  font-size: 14px;
  padding: 4px 0 4px 0;
  color: #d9d9d9;
  background-color: #3a373a;
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 9px 12px -6px rgba(0, 0, 0, 0.2), 0px 19px 29px 2px rgba(0, 0, 0, 0.14), 0px 7px 36px 6px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 19;
  border-radius: 3px;
}

.basico-title.basico-title-compact {
  border-radius: 0px;
}

/* Elevation of elements */
:root {
  --primary-color-rgb: 187, 134, 252;
  --primary-color: rgb(var(--primary-color-rgb));
  --primary-color-hover: rgba(var(--primary-color-rgb), 0.6);
  --primary-color-variant: #3700B3;
  --secondary-color: #03DAC6;
  --secondary-color-variant: #03DAC6;
  --background-color: #1c191f;
  --surface-color: #2f2d31;
  --error-color: #CF6679;
  --on-primary-color: #000000;
  --on-secondary-color: #000000;
  --on-background-color: #FFFFFF;
  --on-surface-color: #FFFFFF;
  --on-error-color: #000000;
  --text-high-emphasis-opacity: 0.87;
  --text-medium-emphasis-opacity: 0.6;
  --text-disabled-emphasis-opacity: 0.38;
}

.basico-tree {
  display: block;
  list-style: none;
  padding: 5px;
  margin-bottom: 10px;
  text-align: left;
  font-size: 12px;
  color: #FFFFFF;
  background-color: #292729;
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 6;
}

.basico-tree ul {
  list-style: none;
  padding-left: 20px;
}

.basico-tree > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.basico-tree .basico-tree-item-wrapper {
  display: block;
  cursor: pointer;
}

.basico-tree .basico-tree-item-wrapper:hover {
  background-color: #393639;
}

.basico-tree .basico-tree-closed .basico-tree-item-toggle {
  transform: rotate(-90deg);
}

.basico-tree .basico-tree-closed ul {
  display: none;
}

.basico-tree .basico-tree-leaf .basico-tree-item-wrapper {
  padding-left: 25px;
}

.basico-tree .basico-tree-leaf .basico-tree-item-toggle {
  display: none;
}

.basico-tree .basico-tree-item-toggle {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  position: relative;
}

.basico-tree .basico-tree-item-toggle:before {
  position: absolute;
  top: 8px;
  left: 6px;
  display: block;
  content: " ";
  border: 4px solid transparent;
  border-top: 4px solid white;
}

.basico-tree .basico-tree-item-icon {
  display: inline-block;
}

.basico-tree .basico-tree-item-content {
  display: inline-block;
  padding-bottom: 4px;
  padding-top: 4px;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: 1.1em;
  text-align: center;
  color: #FFF;
}

:focus {
  outline: 1px solid #03DAC6;
}

/*# sourceMappingURL=basico.css.map */
