@import "animations/animations.scss";
@import "layout/splitter.scss";
@import "layout/layout.scss";
@import "elements/elements.scss";
@import "components/components.scss";
@import "forms/forms.scss";

html, body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 1.1em;
    text-align: center;
    color: #FFF;
}